@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    font-family: 'Merriweather', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin-left: 60px;
    margin-right:60px;
    background-color: rgba(162, 141, 125, 0.13);
    margin:30px;
}

h1 {
    font-size: 1.5em;
    color: #fff;
    background-color: #000;
    padding: 8px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 60px;
    border-radius: 10px;
}

h2 {
    font-size: 1.3em;
    color: #eceaea !important;
    background-color: #818080;
    margin-left: 30px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 300;
    width: fit-content;
}

h3 {
    font-size: 1.3em;
    background-color: #cac9c9;
    margin-left: 60px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: fit-content;
    font-weight: 200;
}

h4 {
    font-size: 1.25em;
    color: #7c7c7c;
    margin-left: 90px;
    border-radius: 5px;
    font-weight: 100;
    border-color: #030303;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 5px;
    width: fit-content;
    background-color: #e6e7e9;
}





h5 {
    font-size: 1em;
    color: #eee;
    margin-left: 80px;
    border-radius: 5px;
    width: fit-content;
}

h6 {
    font-size: 0.75em;
    color: #fff;
    margin-left: 100px;
    border-radius: 5px;
    width: fit-content;
}

p {
    font-size: 1em;
    color: #333;
    margin-left: 110px;
}

ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
li {
    font-size: 1em;
    margin-left: 100px;
}

li ul {
    list-style-type: circle; 
    margin-left: -40px;
    color: #bb4b4b !important;
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: none;
    padding-top: 5px;


}

body > ul > li  {
    margin-top: 15px;
    padding-top:10px
}








